/* jquery form-validation style */
.validation-errorBG{background-color:rgb(255,240,240) !important;}
.validation-errorColor{color:rgb(200,0,0) !important;}
.validation-errorBorder{border:1px solid rgb(240,160,160) !important;}
.validation-errorSignContainer{color: rgb(200,0,0) !important; display: inline; margin-left: -15px; font-size:100%; line-height:100%;}
.validation-errorMsgContainer{color: rgb(200,0,0) !important; display: inline; font-size:100%; line-height:100%;}
.validation-message-hidden {display: none;}